<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  <display-name>Archetype Created Web Application</display-name>

  <!-- 配置监听，在容器启动的时候初始化Ioc容器 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--<filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.yubing.web.filter.LoginFilter</filter-class>
    <init-param>
      <param-name>allow-path</param-name>
      <param-value>*.js;*.png;*.jpg;*.gif;*.swf;*.tld;*.css;*.fr3;*.ttf;</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>-->

  <servlet>
    <servlet-name>webframe</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>WEB-INF/applicationContext.xml</param-value>
      <!--<description>web SERVLET需要的配置文件</description>-->
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>webframe</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>

  <!-- 设置会话的有效时长为8小时 -->
  <session-config>
    <session-timeout>480</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>/login.html</welcome-file>
  </welcome-file-list>

</web-app>
