<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yubing.web.mapper.env.现场噪声监测记录Mapper">
  <resultMap id="BaseResultMap" type="com.yubing.web.model.env.现场噪声监测记录">
    <result column="项目编号" jdbcType="VARCHAR" property="项目编号" />
    <result column="样品编号" jdbcType="VARCHAR" property="样品编号" />
    <result column="方法代码" jdbcType="VARCHAR" property="方法代码" />
    <result column="设备编号" jdbcType="VARCHAR" property="设备编号" />
    <result column="点位编号" jdbcType="VARCHAR" property="点位编号" />
    <result column="月" jdbcType="VARCHAR" property="月" />
    <result column="日" jdbcType="VARCHAR" property="日" />
    <result column="时" jdbcType="VARCHAR" property="时" />
    <result column="分" jdbcType="VARCHAR" property="分" />
    <result column="Leq" jdbcType="VARCHAR" property="leq" />
    <result column="L10" jdbcType="VARCHAR" property="l10" />
    <result column="L50" jdbcType="VARCHAR" property="l50" />
    <result column="L90" jdbcType="VARCHAR" property="l90" />
    <result column="Lmax" jdbcType="VARCHAR" property="lmax" />
    <result column="Lmin" jdbcType="VARCHAR" property="lmin" />
    <result column="标准差SD" jdbcType="VARCHAR" property="标准差sd" />
    <result column="时间段" jdbcType="VARCHAR" property="时间段" />
    <result column="大型车" jdbcType="VARCHAR" property="大型车" />
    <result column="中小型车" jdbcType="VARCHAR" property="中小型车" />
    <result column="检测人员" jdbcType="VARCHAR" property="检测人员" />
    <result column="检测日期" jdbcType="TIMESTAMP" property="检测日期" />
    <result column="复核" jdbcType="VARCHAR" property="复核" />
    <result column="小型车" jdbcType="VARCHAR" property="小型车" />
    <result column="气象条件" jdbcType="VARCHAR" property="气象条件" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    项目编号, 样品编号, 方法代码, 设备编号, 点位编号, 月, 日, 时, 分, Leq, L10, L50, L90, Lmax, Lmin, 标准差SD, 
    时间段, 大型车, 中小型车, 检测人员, 检测日期, 复核, 小型车, 气象条件
  </sql>
  <select id="selectByExample" parameterType="com.yubing.web.model.env.现场噪声监测记录Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from 现场噪声监测记录
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yubing.web.model.env.现场噪声监测记录Example">
    delete from 现场噪声监测记录
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yubing.web.model.env.现场噪声监测记录">
    insert into 现场噪声监测记录 (项目编号, 样品编号, 方法代码, 
      设备编号, 点位编号, 月, 日, 
      时, 分, Leq, L10, 
      L50, L90, Lmax, Lmin, 
      标准差SD, 时间段, 大型车, 中小型车, 
      检测人员, 检测日期, 复核, 小型车, 
      气象条件)
    values (#{项目编号,jdbcType=VARCHAR}, #{样品编号,jdbcType=VARCHAR}, #{方法代码,jdbcType=VARCHAR}, 
      #{设备编号,jdbcType=VARCHAR}, #{点位编号,jdbcType=VARCHAR}, #{月,jdbcType=VARCHAR}, #{日,jdbcType=VARCHAR}, 
      #{时,jdbcType=VARCHAR}, #{分,jdbcType=VARCHAR}, #{leq,jdbcType=VARCHAR}, #{l10,jdbcType=VARCHAR}, 
      #{l50,jdbcType=VARCHAR}, #{l90,jdbcType=VARCHAR}, #{lmax,jdbcType=VARCHAR}, #{lmin,jdbcType=VARCHAR}, 
      #{标准差sd,jdbcType=VARCHAR}, #{时间段,jdbcType=VARCHAR}, #{大型车,jdbcType=VARCHAR}, #{中小型车,jdbcType=VARCHAR}, 
      #{检测人员,jdbcType=VARCHAR}, #{检测日期,jdbcType=TIMESTAMP}, #{复核,jdbcType=VARCHAR}, #{小型车,jdbcType=VARCHAR}, 
      #{气象条件,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yubing.web.model.env.现场噪声监测记录">
    insert into 现场噪声监测记录
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="项目编号 != null">
        项目编号,
      </if>
      <if test="样品编号 != null">
        样品编号,
      </if>
      <if test="方法代码 != null">
        方法代码,
      </if>
      <if test="设备编号 != null">
        设备编号,
      </if>
      <if test="点位编号 != null">
        点位编号,
      </if>
      <if test="月 != null">
        月,
      </if>
      <if test="日 != null">
        日,
      </if>
      <if test="时 != null">
        时,
      </if>
      <if test="分 != null">
        分,
      </if>
      <if test="leq != null">
        Leq,
      </if>
      <if test="l10 != null">
        L10,
      </if>
      <if test="l50 != null">
        L50,
      </if>
      <if test="l90 != null">
        L90,
      </if>
      <if test="lmax != null">
        Lmax,
      </if>
      <if test="lmin != null">
        Lmin,
      </if>
      <if test="标准差sd != null">
        标准差SD,
      </if>
      <if test="时间段 != null">
        时间段,
      </if>
      <if test="大型车 != null">
        大型车,
      </if>
      <if test="中小型车 != null">
        中小型车,
      </if>
      <if test="检测人员 != null">
        检测人员,
      </if>
      <if test="检测日期 != null">
        检测日期,
      </if>
      <if test="复核 != null">
        复核,
      </if>
      <if test="小型车 != null">
        小型车,
      </if>
      <if test="气象条件 != null">
        气象条件,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="项目编号 != null">
        #{项目编号,jdbcType=VARCHAR},
      </if>
      <if test="样品编号 != null">
        #{样品编号,jdbcType=VARCHAR},
      </if>
      <if test="方法代码 != null">
        #{方法代码,jdbcType=VARCHAR},
      </if>
      <if test="设备编号 != null">
        #{设备编号,jdbcType=VARCHAR},
      </if>
      <if test="点位编号 != null">
        #{点位编号,jdbcType=VARCHAR},
      </if>
      <if test="月 != null">
        #{月,jdbcType=VARCHAR},
      </if>
      <if test="日 != null">
        #{日,jdbcType=VARCHAR},
      </if>
      <if test="时 != null">
        #{时,jdbcType=VARCHAR},
      </if>
      <if test="分 != null">
        #{分,jdbcType=VARCHAR},
      </if>
      <if test="leq != null">
        #{leq,jdbcType=VARCHAR},
      </if>
      <if test="l10 != null">
        #{l10,jdbcType=VARCHAR},
      </if>
      <if test="l50 != null">
        #{l50,jdbcType=VARCHAR},
      </if>
      <if test="l90 != null">
        #{l90,jdbcType=VARCHAR},
      </if>
      <if test="lmax != null">
        #{lmax,jdbcType=VARCHAR},
      </if>
      <if test="lmin != null">
        #{lmin,jdbcType=VARCHAR},
      </if>
      <if test="标准差sd != null">
        #{标准差sd,jdbcType=VARCHAR},
      </if>
      <if test="时间段 != null">
        #{时间段,jdbcType=VARCHAR},
      </if>
      <if test="大型车 != null">
        #{大型车,jdbcType=VARCHAR},
      </if>
      <if test="中小型车 != null">
        #{中小型车,jdbcType=VARCHAR},
      </if>
      <if test="检测人员 != null">
        #{检测人员,jdbcType=VARCHAR},
      </if>
      <if test="检测日期 != null">
        #{检测日期,jdbcType=TIMESTAMP},
      </if>
      <if test="复核 != null">
        #{复核,jdbcType=VARCHAR},
      </if>
      <if test="小型车 != null">
        #{小型车,jdbcType=VARCHAR},
      </if>
      <if test="气象条件 != null">
        #{气象条件,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yubing.web.model.env.现场噪声监测记录Example" resultType="java.lang.Long">
    select count(*) from 现场噪声监测记录
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update 现场噪声监测记录
    <set>
      <if test="record.项目编号 != null">
        项目编号 = #{record.项目编号,jdbcType=VARCHAR},
      </if>
      <if test="record.样品编号 != null">
        样品编号 = #{record.样品编号,jdbcType=VARCHAR},
      </if>
      <if test="record.方法代码 != null">
        方法代码 = #{record.方法代码,jdbcType=VARCHAR},
      </if>
      <if test="record.设备编号 != null">
        设备编号 = #{record.设备编号,jdbcType=VARCHAR},
      </if>
      <if test="record.点位编号 != null">
        点位编号 = #{record.点位编号,jdbcType=VARCHAR},
      </if>
      <if test="record.月 != null">
        月 = #{record.月,jdbcType=VARCHAR},
      </if>
      <if test="record.日 != null">
        日 = #{record.日,jdbcType=VARCHAR},
      </if>
      <if test="record.时 != null">
        时 = #{record.时,jdbcType=VARCHAR},
      </if>
      <if test="record.分 != null">
        分 = #{record.分,jdbcType=VARCHAR},
      </if>
      <if test="record.leq != null">
        Leq = #{record.leq,jdbcType=VARCHAR},
      </if>
      <if test="record.l10 != null">
        L10 = #{record.l10,jdbcType=VARCHAR},
      </if>
      <if test="record.l50 != null">
        L50 = #{record.l50,jdbcType=VARCHAR},
      </if>
      <if test="record.l90 != null">
        L90 = #{record.l90,jdbcType=VARCHAR},
      </if>
      <if test="record.lmax != null">
        Lmax = #{record.lmax,jdbcType=VARCHAR},
      </if>
      <if test="record.lmin != null">
        Lmin = #{record.lmin,jdbcType=VARCHAR},
      </if>
      <if test="record.标准差sd != null">
        标准差SD = #{record.标准差sd,jdbcType=VARCHAR},
      </if>
      <if test="record.时间段 != null">
        时间段 = #{record.时间段,jdbcType=VARCHAR},
      </if>
      <if test="record.大型车 != null">
        大型车 = #{record.大型车,jdbcType=VARCHAR},
      </if>
      <if test="record.中小型车 != null">
        中小型车 = #{record.中小型车,jdbcType=VARCHAR},
      </if>
      <if test="record.检测人员 != null">
        检测人员 = #{record.检测人员,jdbcType=VARCHAR},
      </if>
      <if test="record.检测日期 != null">
        检测日期 = #{record.检测日期,jdbcType=TIMESTAMP},
      </if>
      <if test="record.复核 != null">
        复核 = #{record.复核,jdbcType=VARCHAR},
      </if>
      <if test="record.小型车 != null">
        小型车 = #{record.小型车,jdbcType=VARCHAR},
      </if>
      <if test="record.气象条件 != null">
        气象条件 = #{record.气象条件,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update 现场噪声监测记录
    set 项目编号 = #{record.项目编号,jdbcType=VARCHAR},
      样品编号 = #{record.样品编号,jdbcType=VARCHAR},
      方法代码 = #{record.方法代码,jdbcType=VARCHAR},
      设备编号 = #{record.设备编号,jdbcType=VARCHAR},
      点位编号 = #{record.点位编号,jdbcType=VARCHAR},
      月 = #{record.月,jdbcType=VARCHAR},
      日 = #{record.日,jdbcType=VARCHAR},
      时 = #{record.时,jdbcType=VARCHAR},
      分 = #{record.分,jdbcType=VARCHAR},
      Leq = #{record.leq,jdbcType=VARCHAR},
      L10 = #{record.l10,jdbcType=VARCHAR},
      L50 = #{record.l50,jdbcType=VARCHAR},
      L90 = #{record.l90,jdbcType=VARCHAR},
      Lmax = #{record.lmax,jdbcType=VARCHAR},
      Lmin = #{record.lmin,jdbcType=VARCHAR},
      标准差SD = #{record.标准差sd,jdbcType=VARCHAR},
      时间段 = #{record.时间段,jdbcType=VARCHAR},
      大型车 = #{record.大型车,jdbcType=VARCHAR},
      中小型车 = #{record.中小型车,jdbcType=VARCHAR},
      检测人员 = #{record.检测人员,jdbcType=VARCHAR},
      检测日期 = #{record.检测日期,jdbcType=TIMESTAMP},
      复核 = #{record.复核,jdbcType=VARCHAR},
      小型车 = #{record.小型车,jdbcType=VARCHAR},
      气象条件 = #{record.气象条件,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>