<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yubing.web.mapper.env.监测点管理Mapper">
  <resultMap id="BaseResultMap" type="com.yubing.web.model.env.监测点管理">
    <result column="项目编号" jdbcType="VARCHAR" property="项目编号" />
    <result column="点位编号" jdbcType="VARCHAR" property="点位编号" />
    <result column="点位名称" jdbcType="VARCHAR" property="点位名称" />
    <result column="样品类别" jdbcType="VARCHAR" property="样品类别" />
    <result column="类别" jdbcType="VARCHAR" property="类别" />
    <result column="坐标" jdbcType="VARCHAR" property="坐标" />
    <result column="现场联系人" jdbcType="VARCHAR" property="现场联系人" />
    <result column="联系人电话" jdbcType="VARCHAR" property="联系人电话" />
    <result column="任务单号" jdbcType="VARCHAR" property="任务单号" />
    <result column="监测频次" jdbcType="CHAR" property="监测频次" />
    <result column="监测天数" jdbcType="CHAR" property="监测天数" />
    <result column="行政区划代码" jdbcType="CHAR" property="行政区划代码" />
    <result column="功能区代码" jdbcType="CHAR" property="功能区代码" />
    <result column="测点参照物" jdbcType="VARCHAR" property="测点参照物" />
    <result column="气象条件" jdbcType="VARCHAR" property="气象条件" />
    <result column="测点高度" jdbcType="CHAR" property="测点高度" />
    <result column="样品数量" jdbcType="CHAR" property="样品数量" />
    <result column="建点日期" jdbcType="TIMESTAMP" property="建点日期" />
    <result column="负责部门" jdbcType="VARCHAR" property="负责部门" />
    <result column="监测人员" jdbcType="VARCHAR" property="监测人员" />
    <result column="设备编号" jdbcType="VARCHAR" property="设备编号" />
    <result column="测量声压值" jdbcType="VARCHAR" property="测量声压值" />
    <result column="监测前校准值" jdbcType="CHAR" property="监测前校准值" />
    <result column="监测后校准值" jdbcType="CHAR" property="监测后校准值" />
    <result column="Ld" jdbcType="CHAR" property="ld" />
    <result column="Ln" jdbcType="CHAR" property="ln" />
    <result column="Ldn" jdbcType="CHAR" property="ldn" />
    <result column="监测年度" jdbcType="VARCHAR" property="监测年度" />
    <result column="勾选" jdbcType="CHAR" property="勾选" />
    <result column="备注" jdbcType="VARCHAR" property="备注" />
    <result column="信息上传" jdbcType="VARCHAR" property="信息上传" />
    <result column="上传时间" jdbcType="TIMESTAMP" property="上传时间" />
    <result column="口令" jdbcType="VARCHAR" property="口令" />
    <result column="密码" jdbcType="VARCHAR" property="密码" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    项目编号, 点位编号, 点位名称, 样品类别, 类别, 坐标, 现场联系人, 联系人电话, 任务单号, 监测频次, 监测天数, 行政区划代码, 功能区代码, 测点参照物, 
    气象条件, 测点高度, 样品数量, 建点日期, 负责部门, 监测人员, 设备编号, 测量声压值, 监测前校准值, 监测后校准值, Ld, Ln, Ldn, 监测年度, 
    勾选, 备注, 信息上传, 上传时间, 口令, 密码
  </sql>
  <select id="selectByExample" parameterType="com.yubing.web.model.env.监测点管理Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from 监测点管理
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yubing.web.model.env.监测点管理Example">
    delete from 监测点管理
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yubing.web.model.env.监测点管理">
    insert into 监测点管理 (项目编号, 点位编号, 点位名称, 
      样品类别, 类别, 坐标, 现场联系人, 
      联系人电话, 任务单号, 监测频次, 监测天数, 
      行政区划代码, 功能区代码, 测点参照物, 气象条件, 
      测点高度, 样品数量, 建点日期, 负责部门, 
      监测人员, 设备编号, 测量声压值, 
      监测前校准值, 监测后校准值, Ld, Ln, 
      Ldn, 监测年度, 勾选, 备注, 
      信息上传, 上传时间, 口令, 密码
      )
    values (#{项目编号,jdbcType=VARCHAR}, #{点位编号,jdbcType=VARCHAR}, #{点位名称,jdbcType=VARCHAR}, 
      #{样品类别,jdbcType=VARCHAR}, #{类别,jdbcType=VARCHAR}, #{坐标,jdbcType=VARCHAR}, #{现场联系人,jdbcType=VARCHAR}, 
      #{联系人电话,jdbcType=VARCHAR}, #{任务单号,jdbcType=VARCHAR}, #{监测频次,jdbcType=CHAR}, #{监测天数,jdbcType=CHAR}, 
      #{行政区划代码,jdbcType=CHAR}, #{功能区代码,jdbcType=CHAR}, #{测点参照物,jdbcType=VARCHAR}, #{气象条件,jdbcType=VARCHAR}, 
      #{测点高度,jdbcType=CHAR}, #{样品数量,jdbcType=CHAR}, #{建点日期,jdbcType=TIMESTAMP}, #{负责部门,jdbcType=VARCHAR}, 
      #{监测人员,jdbcType=VARCHAR}, #{设备编号,jdbcType=VARCHAR}, #{测量声压值,jdbcType=VARCHAR}, 
      #{监测前校准值,jdbcType=CHAR}, #{监测后校准值,jdbcType=CHAR}, #{ld,jdbcType=CHAR}, #{ln,jdbcType=CHAR}, 
      #{ldn,jdbcType=CHAR}, #{监测年度,jdbcType=VARCHAR}, #{勾选,jdbcType=CHAR}, #{备注,jdbcType=VARCHAR}, 
      #{信息上传,jdbcType=VARCHAR}, #{上传时间,jdbcType=TIMESTAMP}, #{口令,jdbcType=VARCHAR}, #{密码,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yubing.web.model.env.监测点管理">
    insert into 监测点管理
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="项目编号 != null">
        项目编号,
      </if>
      <if test="点位编号 != null">
        点位编号,
      </if>
      <if test="点位名称 != null">
        点位名称,
      </if>
      <if test="样品类别 != null">
        样品类别,
      </if>
      <if test="类别 != null">
        类别,
      </if>
      <if test="坐标 != null">
        坐标,
      </if>
      <if test="现场联系人 != null">
        现场联系人,
      </if>
      <if test="联系人电话 != null">
        联系人电话,
      </if>
      <if test="任务单号 != null">
        任务单号,
      </if>
      <if test="监测频次 != null">
        监测频次,
      </if>
      <if test="监测天数 != null">
        监测天数,
      </if>
      <if test="行政区划代码 != null">
        行政区划代码,
      </if>
      <if test="功能区代码 != null">
        功能区代码,
      </if>
      <if test="测点参照物 != null">
        测点参照物,
      </if>
      <if test="气象条件 != null">
        气象条件,
      </if>
      <if test="测点高度 != null">
        测点高度,
      </if>
      <if test="样品数量 != null">
        样品数量,
      </if>
      <if test="建点日期 != null">
        建点日期,
      </if>
      <if test="负责部门 != null">
        负责部门,
      </if>
      <if test="监测人员 != null">
        监测人员,
      </if>
      <if test="设备编号 != null">
        设备编号,
      </if>
      <if test="测量声压值 != null">
        测量声压值,
      </if>
      <if test="监测前校准值 != null">
        监测前校准值,
      </if>
      <if test="监测后校准值 != null">
        监测后校准值,
      </if>
      <if test="ld != null">
        Ld,
      </if>
      <if test="ln != null">
        Ln,
      </if>
      <if test="ldn != null">
        Ldn,
      </if>
      <if test="监测年度 != null">
        监测年度,
      </if>
      <if test="勾选 != null">
        勾选,
      </if>
      <if test="备注 != null">
        备注,
      </if>
      <if test="信息上传 != null">
        信息上传,
      </if>
      <if test="上传时间 != null">
        上传时间,
      </if>
      <if test="口令 != null">
        口令,
      </if>
      <if test="密码 != null">
        密码,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="项目编号 != null">
        #{项目编号,jdbcType=VARCHAR},
      </if>
      <if test="点位编号 != null">
        #{点位编号,jdbcType=VARCHAR},
      </if>
      <if test="点位名称 != null">
        #{点位名称,jdbcType=VARCHAR},
      </if>
      <if test="样品类别 != null">
        #{样品类别,jdbcType=VARCHAR},
      </if>
      <if test="类别 != null">
        #{类别,jdbcType=VARCHAR},
      </if>
      <if test="坐标 != null">
        #{坐标,jdbcType=VARCHAR},
      </if>
      <if test="现场联系人 != null">
        #{现场联系人,jdbcType=VARCHAR},
      </if>
      <if test="联系人电话 != null">
        #{联系人电话,jdbcType=VARCHAR},
      </if>
      <if test="任务单号 != null">
        #{任务单号,jdbcType=VARCHAR},
      </if>
      <if test="监测频次 != null">
        #{监测频次,jdbcType=CHAR},
      </if>
      <if test="监测天数 != null">
        #{监测天数,jdbcType=CHAR},
      </if>
      <if test="行政区划代码 != null">
        #{行政区划代码,jdbcType=CHAR},
      </if>
      <if test="功能区代码 != null">
        #{功能区代码,jdbcType=CHAR},
      </if>
      <if test="测点参照物 != null">
        #{测点参照物,jdbcType=VARCHAR},
      </if>
      <if test="气象条件 != null">
        #{气象条件,jdbcType=VARCHAR},
      </if>
      <if test="测点高度 != null">
        #{测点高度,jdbcType=CHAR},
      </if>
      <if test="样品数量 != null">
        #{样品数量,jdbcType=CHAR},
      </if>
      <if test="建点日期 != null">
        #{建点日期,jdbcType=TIMESTAMP},
      </if>
      <if test="负责部门 != null">
        #{负责部门,jdbcType=VARCHAR},
      </if>
      <if test="监测人员 != null">
        #{监测人员,jdbcType=VARCHAR},
      </if>
      <if test="设备编号 != null">
        #{设备编号,jdbcType=VARCHAR},
      </if>
      <if test="测量声压值 != null">
        #{测量声压值,jdbcType=VARCHAR},
      </if>
      <if test="监测前校准值 != null">
        #{监测前校准值,jdbcType=CHAR},
      </if>
      <if test="监测后校准值 != null">
        #{监测后校准值,jdbcType=CHAR},
      </if>
      <if test="ld != null">
        #{ld,jdbcType=CHAR},
      </if>
      <if test="ln != null">
        #{ln,jdbcType=CHAR},
      </if>
      <if test="ldn != null">
        #{ldn,jdbcType=CHAR},
      </if>
      <if test="监测年度 != null">
        #{监测年度,jdbcType=VARCHAR},
      </if>
      <if test="勾选 != null">
        #{勾选,jdbcType=CHAR},
      </if>
      <if test="备注 != null">
        #{备注,jdbcType=VARCHAR},
      </if>
      <if test="信息上传 != null">
        #{信息上传,jdbcType=VARCHAR},
      </if>
      <if test="上传时间 != null">
        #{上传时间,jdbcType=TIMESTAMP},
      </if>
      <if test="口令 != null">
        #{口令,jdbcType=VARCHAR},
      </if>
      <if test="密码 != null">
        #{密码,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yubing.web.model.env.监测点管理Example" resultType="java.lang.Long">
    select count(*) from 监测点管理
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update 监测点管理
    <set>
      <if test="record.项目编号 != null">
        项目编号 = #{record.项目编号,jdbcType=VARCHAR},
      </if>
      <if test="record.点位编号 != null">
        点位编号 = #{record.点位编号,jdbcType=VARCHAR},
      </if>
      <if test="record.点位名称 != null">
        点位名称 = #{record.点位名称,jdbcType=VARCHAR},
      </if>
      <if test="record.样品类别 != null">
        样品类别 = #{record.样品类别,jdbcType=VARCHAR},
      </if>
      <if test="record.类别 != null">
        类别 = #{record.类别,jdbcType=VARCHAR},
      </if>
      <if test="record.坐标 != null">
        坐标 = #{record.坐标,jdbcType=VARCHAR},
      </if>
      <if test="record.现场联系人 != null">
        现场联系人 = #{record.现场联系人,jdbcType=VARCHAR},
      </if>
      <if test="record.联系人电话 != null">
        联系人电话 = #{record.联系人电话,jdbcType=VARCHAR},
      </if>
      <if test="record.任务单号 != null">
        任务单号 = #{record.任务单号,jdbcType=VARCHAR},
      </if>
      <if test="record.监测频次 != null">
        监测频次 = #{record.监测频次,jdbcType=CHAR},
      </if>
      <if test="record.监测天数 != null">
        监测天数 = #{record.监测天数,jdbcType=CHAR},
      </if>
      <if test="record.行政区划代码 != null">
        行政区划代码 = #{record.行政区划代码,jdbcType=CHAR},
      </if>
      <if test="record.功能区代码 != null">
        功能区代码 = #{record.功能区代码,jdbcType=CHAR},
      </if>
      <if test="record.测点参照物 != null">
        测点参照物 = #{record.测点参照物,jdbcType=VARCHAR},
      </if>
      <if test="record.气象条件 != null">
        气象条件 = #{record.气象条件,jdbcType=VARCHAR},
      </if>
      <if test="record.测点高度 != null">
        测点高度 = #{record.测点高度,jdbcType=CHAR},
      </if>
      <if test="record.样品数量 != null">
        样品数量 = #{record.样品数量,jdbcType=CHAR},
      </if>
      <if test="record.建点日期 != null">
        建点日期 = #{record.建点日期,jdbcType=TIMESTAMP},
      </if>
      <if test="record.负责部门 != null">
        负责部门 = #{record.负责部门,jdbcType=VARCHAR},
      </if>
      <if test="record.监测人员 != null">
        监测人员 = #{record.监测人员,jdbcType=VARCHAR},
      </if>
      <if test="record.设备编号 != null">
        设备编号 = #{record.设备编号,jdbcType=VARCHAR},
      </if>
      <if test="record.测量声压值 != null">
        测量声压值 = #{record.测量声压值,jdbcType=VARCHAR},
      </if>
      <if test="record.监测前校准值 != null">
        监测前校准值 = #{record.监测前校准值,jdbcType=CHAR},
      </if>
      <if test="record.监测后校准值 != null">
        监测后校准值 = #{record.监测后校准值,jdbcType=CHAR},
      </if>
      <if test="record.ld != null">
        Ld = #{record.ld,jdbcType=CHAR},
      </if>
      <if test="record.ln != null">
        Ln = #{record.ln,jdbcType=CHAR},
      </if>
      <if test="record.ldn != null">
        Ldn = #{record.ldn,jdbcType=CHAR},
      </if>
      <if test="record.监测年度 != null">
        监测年度 = #{record.监测年度,jdbcType=VARCHAR},
      </if>
      <if test="record.勾选 != null">
        勾选 = #{record.勾选,jdbcType=CHAR},
      </if>
      <if test="record.备注 != null">
        备注 = #{record.备注,jdbcType=VARCHAR},
      </if>
      <if test="record.信息上传 != null">
        信息上传 = #{record.信息上传,jdbcType=VARCHAR},
      </if>
      <if test="record.上传时间 != null">
        上传时间 = #{record.上传时间,jdbcType=TIMESTAMP},
      </if>
      <if test="record.口令 != null">
        口令 = #{record.口令,jdbcType=VARCHAR},
      </if>
      <if test="record.密码 != null">
        密码 = #{record.密码,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update 监测点管理
    set 项目编号 = #{record.项目编号,jdbcType=VARCHAR},
      点位编号 = #{record.点位编号,jdbcType=VARCHAR},
      点位名称 = #{record.点位名称,jdbcType=VARCHAR},
      样品类别 = #{record.样品类别,jdbcType=VARCHAR},
      类别 = #{record.类别,jdbcType=VARCHAR},
      坐标 = #{record.坐标,jdbcType=VARCHAR},
      现场联系人 = #{record.现场联系人,jdbcType=VARCHAR},
      联系人电话 = #{record.联系人电话,jdbcType=VARCHAR},
      任务单号 = #{record.任务单号,jdbcType=VARCHAR},
      监测频次 = #{record.监测频次,jdbcType=CHAR},
      监测天数 = #{record.监测天数,jdbcType=CHAR},
      行政区划代码 = #{record.行政区划代码,jdbcType=CHAR},
      功能区代码 = #{record.功能区代码,jdbcType=CHAR},
      测点参照物 = #{record.测点参照物,jdbcType=VARCHAR},
      气象条件 = #{record.气象条件,jdbcType=VARCHAR},
      测点高度 = #{record.测点高度,jdbcType=CHAR},
      样品数量 = #{record.样品数量,jdbcType=CHAR},
      建点日期 = #{record.建点日期,jdbcType=TIMESTAMP},
      负责部门 = #{record.负责部门,jdbcType=VARCHAR},
      监测人员 = #{record.监测人员,jdbcType=VARCHAR},
      设备编号 = #{record.设备编号,jdbcType=VARCHAR},
      测量声压值 = #{record.测量声压值,jdbcType=VARCHAR},
      监测前校准值 = #{record.监测前校准值,jdbcType=CHAR},
      监测后校准值 = #{record.监测后校准值,jdbcType=CHAR},
      Ld = #{record.ld,jdbcType=CHAR},
      Ln = #{record.ln,jdbcType=CHAR},
      Ldn = #{record.ldn,jdbcType=CHAR},
      监测年度 = #{record.监测年度,jdbcType=VARCHAR},
      勾选 = #{record.勾选,jdbcType=CHAR},
      备注 = #{record.备注,jdbcType=VARCHAR},
      信息上传 = #{record.信息上传,jdbcType=VARCHAR},
      上传时间 = #{record.上传时间,jdbcType=TIMESTAMP},
      口令 = #{record.口令,jdbcType=VARCHAR},
      密码 = #{record.密码,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>