<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yubing.web.mapper.env.锅炉数据Mapper">
  <resultMap id="BaseResultMap" type="com.yubing.web.model.env.锅炉数据">
    <result column="项目编号" jdbcType="VARCHAR" property="项目编号" />
    <result column="序号" jdbcType="INTEGER" property="序号" />
    <result column="点位编号" jdbcType="VARCHAR" property="点位编号" />
    <result column="样品编号" jdbcType="VARCHAR" property="样品编号" />
    <result column="时间段" jdbcType="VARCHAR" property="时间段" />
    <result column="项目名称" jdbcType="VARCHAR" property="项目名称" />
    <result column="检测结果" jdbcType="VARCHAR" property="检测结果" />
    <result column="方法代码" jdbcType="VARCHAR" property="方法代码" />
    <result column="单位" jdbcType="VARCHAR" property="单位" />
    <result column="检测日期" jdbcType="TIMESTAMP" property="检测日期" />
    <result column="时间" jdbcType="VARCHAR" property="时间" />
    <result column="检测人" jdbcType="VARCHAR" property="检测人" />
    <result column="仪器编号" jdbcType="VARCHAR" property="仪器编号" />
    <result column="复核" jdbcType="VARCHAR" property="复核" />
    <result column="结论" jdbcType="VARCHAR" property="结论" />
    <result column="选择" jdbcType="VARCHAR" property="选择" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    项目编号, 序号, 点位编号, 样品编号, 时间段, 项目名称, 检测结果, 方法代码, 单位, 检测日期, 时间, 检测人, 仪器编号, 复核, 结论, 选择
  </sql>
  <select id="selectByExample" parameterType="com.yubing.web.model.env.锅炉数据Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from 锅炉数据
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yubing.web.model.env.锅炉数据Example">
    delete from 锅炉数据
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yubing.web.model.env.锅炉数据">
    insert into 锅炉数据 (项目编号, 序号, 点位编号, 
      样品编号, 时间段, 项目名称, 检测结果, 
      方法代码, 单位, 检测日期, 时间, 
      检测人, 仪器编号, 复核, 结论, 
      选择)
    values (#{项目编号,jdbcType=VARCHAR}, #{序号,jdbcType=INTEGER}, #{点位编号,jdbcType=VARCHAR}, 
      #{样品编号,jdbcType=VARCHAR}, #{时间段,jdbcType=VARCHAR}, #{项目名称,jdbcType=VARCHAR}, #{检测结果,jdbcType=VARCHAR}, 
      #{方法代码,jdbcType=VARCHAR}, #{单位,jdbcType=VARCHAR}, #{检测日期,jdbcType=TIMESTAMP}, #{时间,jdbcType=VARCHAR}, 
      #{检测人,jdbcType=VARCHAR}, #{仪器编号,jdbcType=VARCHAR}, #{复核,jdbcType=VARCHAR}, #{结论,jdbcType=VARCHAR}, 
      #{选择,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yubing.web.model.env.锅炉数据">
    insert into 锅炉数据
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="项目编号 != null">
        项目编号,
      </if>
      <if test="序号 != null">
        序号,
      </if>
      <if test="点位编号 != null">
        点位编号,
      </if>
      <if test="样品编号 != null">
        样品编号,
      </if>
      <if test="时间段 != null">
        时间段,
      </if>
      <if test="项目名称 != null">
        项目名称,
      </if>
      <if test="检测结果 != null">
        检测结果,
      </if>
      <if test="方法代码 != null">
        方法代码,
      </if>
      <if test="单位 != null">
        单位,
      </if>
      <if test="检测日期 != null">
        检测日期,
      </if>
      <if test="时间 != null">
        时间,
      </if>
      <if test="检测人 != null">
        检测人,
      </if>
      <if test="仪器编号 != null">
        仪器编号,
      </if>
      <if test="复核 != null">
        复核,
      </if>
      <if test="结论 != null">
        结论,
      </if>
      <if test="选择 != null">
        选择,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="项目编号 != null">
        #{项目编号,jdbcType=VARCHAR},
      </if>
      <if test="序号 != null">
        #{序号,jdbcType=INTEGER},
      </if>
      <if test="点位编号 != null">
        #{点位编号,jdbcType=VARCHAR},
      </if>
      <if test="样品编号 != null">
        #{样品编号,jdbcType=VARCHAR},
      </if>
      <if test="时间段 != null">
        #{时间段,jdbcType=VARCHAR},
      </if>
      <if test="项目名称 != null">
        #{项目名称,jdbcType=VARCHAR},
      </if>
      <if test="检测结果 != null">
        #{检测结果,jdbcType=VARCHAR},
      </if>
      <if test="方法代码 != null">
        #{方法代码,jdbcType=VARCHAR},
      </if>
      <if test="单位 != null">
        #{单位,jdbcType=VARCHAR},
      </if>
      <if test="检测日期 != null">
        #{检测日期,jdbcType=TIMESTAMP},
      </if>
      <if test="时间 != null">
        #{时间,jdbcType=VARCHAR},
      </if>
      <if test="检测人 != null">
        #{检测人,jdbcType=VARCHAR},
      </if>
      <if test="仪器编号 != null">
        #{仪器编号,jdbcType=VARCHAR},
      </if>
      <if test="复核 != null">
        #{复核,jdbcType=VARCHAR},
      </if>
      <if test="结论 != null">
        #{结论,jdbcType=VARCHAR},
      </if>
      <if test="选择 != null">
        #{选择,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yubing.web.model.env.锅炉数据Example" resultType="java.lang.Long">
    select count(*) from 锅炉数据
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update 锅炉数据
    <set>
      <if test="record.项目编号 != null">
        项目编号 = #{record.项目编号,jdbcType=VARCHAR},
      </if>
      <if test="record.序号 != null">
        序号 = #{record.序号,jdbcType=INTEGER},
      </if>
      <if test="record.点位编号 != null">
        点位编号 = #{record.点位编号,jdbcType=VARCHAR},
      </if>
      <if test="record.样品编号 != null">
        样品编号 = #{record.样品编号,jdbcType=VARCHAR},
      </if>
      <if test="record.时间段 != null">
        时间段 = #{record.时间段,jdbcType=VARCHAR},
      </if>
      <if test="record.项目名称 != null">
        项目名称 = #{record.项目名称,jdbcType=VARCHAR},
      </if>
      <if test="record.检测结果 != null">
        检测结果 = #{record.检测结果,jdbcType=VARCHAR},
      </if>
      <if test="record.方法代码 != null">
        方法代码 = #{record.方法代码,jdbcType=VARCHAR},
      </if>
      <if test="record.单位 != null">
        单位 = #{record.单位,jdbcType=VARCHAR},
      </if>
      <if test="record.检测日期 != null">
        检测日期 = #{record.检测日期,jdbcType=TIMESTAMP},
      </if>
      <if test="record.时间 != null">
        时间 = #{record.时间,jdbcType=VARCHAR},
      </if>
      <if test="record.检测人 != null">
        检测人 = #{record.检测人,jdbcType=VARCHAR},
      </if>
      <if test="record.仪器编号 != null">
        仪器编号 = #{record.仪器编号,jdbcType=VARCHAR},
      </if>
      <if test="record.复核 != null">
        复核 = #{record.复核,jdbcType=VARCHAR},
      </if>
      <if test="record.结论 != null">
        结论 = #{record.结论,jdbcType=VARCHAR},
      </if>
      <if test="record.选择 != null">
        选择 = #{record.选择,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update 锅炉数据
    set 项目编号 = #{record.项目编号,jdbcType=VARCHAR},
      序号 = #{record.序号,jdbcType=INTEGER},
      点位编号 = #{record.点位编号,jdbcType=VARCHAR},
      样品编号 = #{record.样品编号,jdbcType=VARCHAR},
      时间段 = #{record.时间段,jdbcType=VARCHAR},
      项目名称 = #{record.项目名称,jdbcType=VARCHAR},
      检测结果 = #{record.检测结果,jdbcType=VARCHAR},
      方法代码 = #{record.方法代码,jdbcType=VARCHAR},
      单位 = #{record.单位,jdbcType=VARCHAR},
      检测日期 = #{record.检测日期,jdbcType=TIMESTAMP},
      时间 = #{record.时间,jdbcType=VARCHAR},
      检测人 = #{record.检测人,jdbcType=VARCHAR},
      仪器编号 = #{record.仪器编号,jdbcType=VARCHAR},
      复核 = #{record.复核,jdbcType=VARCHAR},
      结论 = #{record.结论,jdbcType=VARCHAR},
      选择 = #{record.选择,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>